@font-face {
  font-family: 'BlackHans';
  src: local('BlackHans'), url("./fonts/BlackHanSans-Regular.ttf");
}

@font-face {
  font-family: 'Delicious';
  src: local('Delicious'), url("./fonts/DeliciousHandrawn-Regular.ttf");
}

@font-face {
  font-family: 'Edu';
  src: local('Edu'), url("./fonts/EduNSWACTFoundation-VariableFont_wght.ttf");
}


body {
  margin: 0;
}
